@charset "UTF-8";
@media (min-width: 1221px){
	body{
		margin: 0px;
		background-color: #F2FFED;
	}
	header{
		user-select: none;
	}
	header.header{
		background-color: black;
		width: 100%;
		position: fixed;
		height: 100px;
	}
	header .header_div {
		width: 98%;
		min-width: 1200px;
		margin: 10px;
		display: inline-flex;
		padding: 10px;
	}
	header .header_icon {
		min-width: 220px;
		width: 220px;
		height: 50px;
		color: #8C8C8C;
		text-align: center;
		font-size: 40pt;
		font-family: 'Gugi', cursive;
		margin: 0px;
	}
	header .header_icon a:hover{
		color: #FFE08C;
	}
	header .header_text{
		height:50px;
	 	width: 100%;
	 	min-width: 420px;
		color: white;
		font-size: 30pt;
		font-family: 'Yellowtail', cursive;
		text-align: center;
	}
	header .header_text a:hover{
		color: green;
	}
	header .header_nav {
		width: 560px;
		height: 50px;
		line-height: 50px;
	}
	header .header_nav_menu {
		margin: 0px;
		padding: 0px;
		display: inline-flex;
	}
	header .header_nav_menu li {
		color: #8C8C8C;
		display: inline-block;
		height: 46px;
		font-size: 22pt;
		font-weight: bold;
		text-align: center;
		padding-left: 7px;
		padding-right: 7px;
	}
	header .header_nav_menu li:hover {
		color:#6799FF;
		font-size:25pt;
		cursor: pointer;
	}
	
	header .header_nav_menu li.short {
		min-width: 103px;
		width: 103px;
	}
	
	header .header_nav_menu li.long {
		min-width: 149px;
		width: 149px;
	}
	section .section_art {
		margin-top: 100px;
		padding-bottom: 150px;
	}
	section h1{
		font-size: 30pt;
		text-align: center;
	}
	section .section_blank{
		height:100px;
		background-color: #5D5D5D;
	}
	section article.art_1 .main_comment{
		text-align: center;
	}
	section article.art_2{
		height: 450px;
	}
	section article.art_2 .article_div{
		width: 900px;
		height: auto;
		margin: auto;
	 	display: flex;
	}
	section article.art_2 .article_part{
		width: 400px;
		height: 400px;
	}
	section article.art_2 .article_part div{
		font-size: 15pt;
		padding-bottom: 5px;
	}
	section article.art_2 img.photoID{
		width: 250px;
	}
	section article.art_2 .article_txt{
		height: 40px;
	}
	section article.art_2 h2.article_sub{
		margin-top: 0px;
	}
	section article.art_2 .skills{
		display: inline-block;
		padding:0px;
	}
	section article.art_2 .article_part .imgBox{
		text-align: center;
		display: inline-block;
		width: 70px;
		height: 85px;
		font-size: 14pt;
	}
	section article.art_2 .imgBox .skill{
		display: inline-block;
		width : 55px;
		height: 55px;
		border: 1px solid #BDBDBD;
	}
	section article.art_3 .article_div{
	margin: auto;
	width: 900px;
	}
	section article.art_3 .article_part{
		display: flex;
		width: 900px;
	}
	section article.art_3 .article_inner_part_img img{
		width: 400px;
	}
	section article.art_3 .article_inner_part_txt {
		padding-left: 50px;
		width: 450px;
	}
}
