@charset "UTF-8";
@media (max-width: 1220px){
	body{
		margin: 0px;
		background-color: white;
	}
	header{
		user-select: none;
	}
	header.header{
		background-color: black;
		width: 100%;
		position: fixed;
		height: 300px;
	}
	header .header_div{
		width: 98%; /*auto*/
		margin: 10px;
		display: block;
		padding: 10px;
	}
	header .header_icon{
		min-width: 220px;
		width: 220px;
		height: 70px;
		color: #8C8C8C;
		text-align: center;
		font-size: 50pt;
		font-family: 'Gugi', cursive;
		margin: auto;
 		margin-bottom: 10px;
	}
	header .header_text{
		height:70px;
	 	width: 100%;
	 	min-width: 420px;
		color: white;
		font-size: 40pt;
		font-family: 'Yellowtail', cursive;
		text-align: center;
	}
	header .header_nav {
		width: 560px;
		height: 50px;
		line-height: 50px;
		margin: auto;
		margin-top: 10px;
	}
	header .header_nav_menu {
		margin: 0px;
		padding: 0px;
		display: inline-flex;
		margin: auto;
		margin-top: 10px;
		
	}
	header .header_nav_menu li {
		color: #8C8C8C;
		display: inline-block;
		height: 110px;
		line-height: 110px;
		font-size: 26pt;
		font-weight: bold;
		text-align: center;
		padding-left: 7px;
		padding-right: 7px;
	}
	header .header_nav_menu li:hover {
		color:#6799FF;
		font-size:23pt;
		cursor: pointer;
	}
	
	header .header_nav_menu li.short {
		min-width: 103px;
		width: 103px;
	}
	
	header .header_nav_menu li.long {
		min-width: 149px;
		width: 149px;
	}
	section .section_art {
	height: auto;
	margin-bottom: 50px;
	}
	section h1{
		font-size: 30pt;
		text-align: center;
	}
	section .section_blank{
		height:300px;
		background-color: white;
	}
	section article.art_1 .main_comment{
		text-align: center;
		height: 60px;
	}
	section article.art_2 .article_div{
	width: 300px;
	height: auto;
	margin: auto;
 	display: block;
	}
	section article.art_2 .article_part{
		width: 500px;
		height: auto;
		margin-bottom: 50px;
	}
	section article.art_2 h2.article_sub{
		margin-top: 0px;
	}
	section article.art_2 .explain{
		font-size: 13pt;
		color : red;
		font-weight: bold;
	}
	section article.art_2 .article_part div{
		font-size: 20pt;
		padding-bottom: 5px;
	}
	section article.art_2 img.photoID{
		width: 300px;
		margin: auto;
	}
	section article.art_2 .skills{
		display: inline-block;
		padding:0px;
	}
	section article.art_2 .article_part .imgBox{
		margin: 5px;
		text-align: center;
		display: inline-block;
		width: 100px;
		height: 125px;
		font-size: 18pt;
		margin-bottom: 10px;
	}
	section article.art_2 .imgBox .skill{
		display: inline-block;
		width : 90px;
		height: 90px;
		border: 1px solid #BDBDBD;
		cursor: pointer;
	}
	section article.art_3 .article_div{
		margin: auto;
		width: 500px;
		align
	}
	section article.art_3 .article_part{
		display: block;
		width: auto;
	}
	section article.art_3 .article_inner_part_img img{
		width: 500px;
	}
	section article.art_3 .article_inner_part_txt button{
		background-color: red;
		color:white;
		cursor: pointer;
		border: none;
		width: 100px;
		height: 25px;
	}
	section article.art_3 .article_inner_part_txt button:hover{
		background: pink;
		font-weight: bold;
		width: 105px;
		height: 25px;
	}
	section article.art_4{
	margin-bottom: 150px;
	}
	section article.art_4 div.button{
		display: block;
		height: 70px;
		line-height: 70px;
		width: 280px;
		font-size: 30pt;
		text-align: center;
		margin: auto;
		margin-bottom: 20px;
		background-color: #6799FF;
		color: white;
		font-weight: bold;
		border-radius: 15px;
	}
	section article.art_4 div.button:hover{
		font-size: 33pt;
		cursor: pointer;
		background-color: blue;
		box-shadow: 5px 5px 5px 5px gray;
	}
	footer.footer{
		height: 150px;
		padding: 15px;
		background-color: #5D5D5D;
	}
	footer.footer div.footer_text{
		color: #8C8C8C;
	}
}
